* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.head_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top_page {
    display: flex;
    width: 1100px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo_page {
    display: flex;
    margin-left: 5px;
    list-style: none;
    text-decoration: none;
}

.logo_page a {
    list-style: none;
    text-decoration: none;
    color: #bbb;
}

.logo_page a:hover {
    color: rgb(0, 39, 130);
}

.menu_head_page {
    display: flex;
    margin-right: 5px;
}
.menu_head_page, ul {
    list-style: none;
    list-style: none;
    text-decoration: none;
}


.menu_head_page li a {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin-right: 5px;
    color: #bbb;
}

.menu_head_page li a:hover {

    color: rgb(0, 39, 130);
}

.apresentation {
    height: 600px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

/*end header*/

.content_page {
    display: flex;
    flex-direction: column;
    width: 1100px;
    padding-top: 30px;
}

.my_knowlenges {
    display: flex;
    height: 420px;
    justify-content: space-around;
    align-items: center;
}

.title_section_knowlanges {
    margin: 0 30px 30px;
    font-size: 2rem;
    text-align: end;
}

.side_section_knowlanges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

.aside_section img {
    height: 390px;
}

/*end knowlanges*/
.title_section_experience{
    font-size: 2rem;
}

.my_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-top: 50px;
}

.content_experience {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.experience {
    display: flex;
    width: 1100px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 10px;
}

.experience:hover {
    color: #fff;
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 10px;
}

.title_experience {
    flex: 1;
}

.date_exp {
    font-size: 0.8rem;
}

.company_exp {
    flex: 1;
}

.description_exp {
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 1100px;
    background-color: rgb(15, 18, 31);
    margin-bottom: 10px;
}

.side_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 50%;
    background-color: aqua;
}

.aside_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 50%;
    background-color: rgb(9, 152, 24);
}

.content_location {
    height: 300px;
    width: 300px;
    background-color: yellow;
}

.social_media {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: aqua;
}

.social_media ul {
    display: flex;
    list-style: none;
}

.social_media li a {
    color: black;
    text-decoration: none;
}